{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_activityfilter/template_name

    A automatic resizeable input text field with a submit button.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<form id="ai_activity_filter_prompt_form">
    <div class="card prompt-card">
        <div class="card-body d-flex gap-2 align-items-center">
            <label for="activitysearchprompt" class="form-label mb-0 visually-hidden">
                {{#str}}promptdesc, local_activityfilter{{/str}}
            </label>
            <textarea class="prompt-search form-control"
                      id="activitysearchprompt"
                      placeholder="{{#str}}promptdesc, local_activityfilter{{/str}}"
                      rows="1"></textarea>

            <button class="btn btn-primary prompt-search-btn d-flex align-items-center gap-2"
                    type="button"
                    data-action="activityfilter-search">
                {{#pix}}a/search, core, {{#str}}search, local_activityfilter{{/str}}{{/pix}}
                <span class="spinner-border spinner-border-sm d-none"
                      role="status"
                      aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>
