{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_activityfilter/content_item_rating_box

    A ranking for an content item in a course.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id -> Id of the rating
    * activityicon -> Plugin icon as html
    * pluginname -> Human readable pluginname
    * stars -> List of fa icons
    * occurrences -> How often does the plugin is used in the moodle as text (often, rarely...)
    * reason -> Reason, why this plugin is the best for the use case
    * hint -> What settings need to be set or what does this plugin at all

    Example context (json):
    {
        "id": 5,
        "activityicon": "HTML_PLUGIN_ICON",
        "pluginname": "Big Blue Button",
        "stars": [
            "fa-solid fa-star",
            "fa-solid fa-star",
            "fa-solid fa-star-half-full",
            "fa-regular fa-star",
            "fa-regular fa-star"
        ],
        "occurrences": "often",
        "reason": "Can help to connect better to students",
        "hint": "Enable group rooms"
    }
}}

<article class="accordion-item activity-rating-item">
    <h2 class="accordion-header" id="activity-rating-heading-{{id}}">
        <button class="accordion-button collapsed open-rating" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#activity-rating-collapse-{{id}}"
                aria-expanded="false"
                aria-controls="activity-rating-collapse-{{id}}">
            <span>
                {{{activityicon}}}
                {{pluginname}}
            </span>

            <span class="align-to-right">
                {{#stars}}
                    <i class="{{.}}"></i>
                {{/stars}}
            </span>
        </button>
    </h2>

    <div id="activity-rating-collapse-{{id}}"
         class="accordion-collapse collapse"
         aria-labelledby="activity-rating-heading-{{id}}"
         data-bs-parent="#activity-rating">
        <div class="accordion-body">
            <p><strong>{{#str}}popularitycolumn, local_activityfilter{{/str}}. </strong> {{occurrences}}</p>
            <p><strong>{{#str}}reasoncolumn, local_activityfilter{{/str}}.</strong> {{reason}}</p>
            <p><strong>{{#str}}hintcolumn, local_activityfilter{{/str}}.</strong> {{hint}}</p>
        </div>
    </div>
</article>
